*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sens-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3.3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(9, 161, 249, 0.5), rgba(7, 93, 142, 0.5)), url(../img/holandia.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.main-title {
  color: #fff;
  text-transform: uppercase;
  /*usuwanie wad nimacji*/
  backface-visibility: hidden;
  margin-bottom: 3rem; }

.main-title-up {
  display: block;
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.main-title-down {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: .45rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUpBtn {
  0% {
    opacity: 0;
    transform: translateY(7rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*ustawianie podstawowych funkcji przycisku*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn-white {
  color: gray;
  background-color: #fff; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveUpBtn 1s ease-out .7s;
  /*urzywajac tej funkcj  ustawiamy poczatkowe wartosci takie jak sa zapisane w animacji na pozycji 0%. umozliwia toschowanie obiektu na poczatku gdy urzywamy opuznienia w animacj*/
  animation-fill-mode: backwards; }
